babel==2.18.0
charset-normalizer==3.4.4
et_xmlfile==2.0.0
numpy==2.4.2
openpyxl==3.1.5
pandas==3.0.0
pillow==12.1.1
python-dateutil==2.9.0.post0
reportlab==4.4.9
six==1.17.0
tkcalendar==1.6.1
tzdata==2025.3
